<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Resposta usando template ejs</title>
    <link rel="stylesheet" href="styleaula10.css">
</head>
<body>
    <h1>Usuario cadastrado com sucesso!</h1>
    <p>método utilizado: <%= metodo %></p>
    <p>O nome do usuario é <%= nome %></p>
    <p>O email do usuario é <%= email %></p>
    <p>O telefone do usuario é <%= telefone %></p>
    <p>A data de nascimento do usuario é <%= nascimento %></p>

</body>
</html>